@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}



/*--HEADER--*/

section .header {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: url('/assets/background-header.png');
    background-size: cover;
    background-color: #007F2D;
}

.header .logo {
    margin: 50px;
}

.header .textBox {
    max-width: 50%;
    text-align: center;
    color: white;
    margin: 100px;
  }