@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}



/*--HEADER--*/

.header {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: url('/assets/background-header.png');
    background-size: cover;
    background-color: #007F2D;
}

.header .textBox {
    max-width: 50%;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 100px;
  }

  .header .text__3 {
    font-weight: 700;
  }

  .header .button {
    font-weight: 700;
    width: 30%;
    height: 50px;
    margin-top: 50px;
    border-radius: 12px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    color: #007F2D;
    text-decoration: none;
  }

  .header .arrow__down {
    margin: 100px auto;
  }

  /*--FORMS--*/

  .form {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: url('/assets/background-news.png');
    background-size: cover;
  }
  .form .textBox {
    color: white;
  }

  /*--FORMS--*/

  .social {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: url('/assets/background-social.png');
    background-size: cover;
    background-color:#EEAE32;
  }

  .social .textBox {
    color: white;
  }



    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .header .logo {
        max-width: 90%;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

    .header .logo {
        max-width: 60%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    .header .logo {
        max-width: 70%;
    }
    
  }