@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
  --main-color: #285701;
  --main-text-color: white;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.header, .form, .social, .address {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}


/*--HEADER--*/

.header {
    padding-top: 200px;
    display: flex;
    background: url('/assets/background-header.png');
    background-size: cover;
    background-color: var(--main-color);
}

.header .textBox {
    max-width: 50%;
    font-size: 18px;
    text-align: center;
    color: var(--main-text-color);
    margin-top: 100px;
  }

  .header .text__3 {
    font-weight: 700;
  }

  .header .button {
    font-weight: 700;
    width: 30%;
    height: 50px;
    margin-top: 50px;
    border-radius: 12px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--main-text-color);
    color: var(--main-color);
    text-decoration: none;
  }

  .header .arrow__down {
    margin: 100px auto;
  }

  /*--FORMS--*/

  .form {
    background: url('/assets/background-news.png');
    background-size: cover;
  }
  .form .textBox {
    text-align: center;
    color: var(--main-text-color);
  }

  .form p.text__2 {
    padding: 45px 0;
    font-size: 18px;
  }

  .form input.name {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    padding: 0 30px;
    margin-right: 10px;
  }

  .form input.email {
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 0 30px;
}
  .form button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    margin-left: 10px;
  }

  /*--SOCIAL--*/

  .social {
    background: url('/assets/background-social.png');
    background-size: cover;
    background-color:#EEAE32;
  }
  .social .logo {
    transform: translateY(-100px);
  }
  .social .container {
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
  }
  .social .textBox {
    text-align: center;
    color: var(--main-text-color);
  }

  .social h1.text__2 {
    font-size: 60px;
  }

  .social p.text__1 {
    font-size: 30px;
    padding: 40px;
  }

  .social .button__socials {
    margin-top: 100px;
  }

  .social a.instagran {
    width: 200px;
    height: 60px;
    color: var(--main-text-color);
    border: none;
    border-radius: 15px;
    background-color: var(--main-color);
    display: flex;
    text-decoration: none;
    margin: auto;
    padding-left: 25px;
    padding-top: 20px;

  }

  .social a.facebook {
    width: 200px;
    height: 60px;
    color: var(--main-text-color);
    border: none;
    border-radius: 15px;
    background-color: var(--main-color);
    display: flex;
    text-decoration: none;
    margin: auto;
    margin-top: 100px;
    padding-left: 25px;
    padding-top: 20px;

  }

  .social p {
    padding-left: 25px;
  }


  .social .arrow__down {
    margin: 100px auto;
  }

  /*--ADDRESS--*/

  .address {
    flex-direction: row;
    display: flex;
    height: 100vh
  }

  .addressBox {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

  .address p.text__1 {
    font-size: 1.2rem;
  }

  .address p.text__2 {
    font-size: 0.8rem;
    text-align: center;
  }

  .address a.button__route {
    border: none;
    text-decoration: none;
    align-items: center;
    border-radius: 15px;
    width: 180px;
    background-color: var(--main-color);
    height: 50px;
    color: var(--main-text-color);
    display: flex;
    justify-content: space-evenly;
  }

  iframe {
    width: 50vw;
    height: 100vh;
  }

  @media screen and (max-width: 1039px) {

    .header .logo {
      max-width: 90%;
    }
    
    .header .textBox {
      max-width: 90%;
      font-size: 15px;
    }

    .header .button {
      width: 80% !important;
    }
  
    .header .arrow__down {
      margin: 100px auto;
    }
  }
    .form {
      height: 100vh;
    }
    .form .textBox {
      width: 70vw;
    }

    .form h1.text__1 {
      font-size: 1rem;
    }

    .form p.text__2 {
      font-size: 0.75rem;
    }

    .form button, .form input {
      margin: 40px !important;
      width: 70vw !important;
    }

    .form input {
      margin: 5px 40px !important;
    }


  .social {
    width: 100vw;
  }

  .social .logo {
    width: 100%;
    transform: translateY(-50%);
  }